<h1></h1>
<div class="row template">
    <div class="col-sm-5">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <mat-tab-group>
                <mat-tab label="Contact Informations">
                    <div class="form-group">
                        <label for="user">
                            Name
                        </label>
                        <input type="text" id="user" class="form-control" name="user" required [(ngModel)]="myuser"
                               ngModel>
                    </div>
                    <div class="form-group">
                        <label> Customize your CV ! </label>
                        <div class="container">
                            <div class="row">
                                <app-color-picker [color]="bannerColor" [heading]="'Banner'"
                                                  (event)="setColor('banner', $event)"></app-color-picker>

                                <app-color-picker [color]="titlesColor" [heading]="'Titles'"
                                                  (event)="setColor('titles', $event)"></app-color-picker>
                            </div>
                        </div>
                    </div>
                    <label> Profile picture </label>
                    <div class="form-group" style="text-align:center">
                        <input type="file" (change)="onFileChanged($event)">
                        <div [innerHtml]='msg' *ngIf="msg" style="color: #ff0000;"></div>
                    </div>


                    <div class="form-group">
                        <label for="fb">
                            Link to your Facebook
                        </label>
                        <input type="text" id="fb" class="form-control" name="fb" [(ngModel)]="fb" ngModel>
                    </div>
                    <div class="form-group">
                        <label for="git">
                            Link to your GitHub
                        </label>
                        <input type="text" id="git" class="form-control" name="git" [(ngModel)]="git" ngModel>
                    </div>
                    <div class="form-group">
                        <label for="linkedin">
                            Link to your Linkedin
                        </label>
                        <input type="text" id="linkedin" class="form-control" name="linkedin" [(ngModel)]="linkedin"
                               ngModel>
                    </div>
                </mat-tab>
                <mat-tab label="Others">
                    <div class="form-group">
                        <label for="education">
                            Education and Qualification
                        </label>
                        <textarea type="text" id="education" class="form-control" name="education"
                                  [(ngModel)]="myeducation" ngModel></textarea>

                        <div *ngFor="let textarea of textAreasList; let textarea_index= index; trackBy:trackByFn">
                            <textarea type="text" name="{{textarea}}" [(ngModel)]="textAreasList[textarea_index]"
                                      [ngModelOptions]="{standalone: true}" ngModel></textarea>
                            <button class="btn btn-warning" type="button" (click)="removeTextArea(textarea_index)">
                                Remove
                            </button>
                        </div>

                        <button class="btn btn-primary" type="button" (click)="addTextarea()"> Add</button>
                    </div>
                    <div class="form-group">
                        <label for="experience">
                            Work Experience
                        </label>
                        <textarea type="text" id="experience" class="form-control" name="experience"
                                  [(ngModel)]="myexperience" ngModel></textarea>
                    </div>
                    <div class="form-group">
                        <label for="skills">
                            Skills
                        </label>
                        <textarea type="text" id="skills" class="form-control" name="skills" [(ngModel)]="myskills"
                                  ngModel></textarea>
                    </div>
                    <div class="form-group">
                        <label for="languages">
                            Languages
                        </label>
                        <textarea type="text" id="languages" class="form-control" name="languages"
                                  [(ngModel)]="mylanguages" ngModel></textarea>
                    </div>
                    <div class="form-group">
                        <label for="activities">
                            Activities
                        </label>
                        <textarea type="text" id="activities" class="form-control" name="activities"
                                  [(ngModel)]="myactivities" ngModel></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">Ajouter</button>
                </mat-tab>
            </mat-tab-group>
        </form>
    </div>

    <div class="col-sm-6 col-sm-offset-2 viewCv">
        <div class="content">
            <div class="banner" [ngStyle]="{background: bannerColor}">
                <div class="col-md-12">
                    <ul class="social-network social-circle">
                        <li><a href="{{fb}}" class="icoFacebook" title="Facebook" target="_blank"><i
                                class="fa fa-facebook"></i></a></li>
                        <li><a href="{{git}}" class="icoGithub" title="GitHub" target="_blank"><i
                                class="fa fa-github"></i></a></li>
                        <li><a href="{{linkedin}}" class="icoLinkedin" title="Linkedin" target="_blank"><i
                                class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div><img [src]="imgURL" height="200" *ngIf="imgURL"></div>

            <img height="200" *ngIf="selectedFile == null" [src]="convertedImage">
            <h2 [ngStyle]="{color: titlesColor}">Name</h2>
            <p>{{myuser}}</p>
            <h2 [ngStyle]="{color: titlesColor}">Education and Qualification</h2>
            <p>{{myeducation}}</p>
            <div *ngFor="let textarea of textAreasList">
                <p>{{textarea}}</p>
            </div>
            <h2 [ngStyle]="{color: titlesColor}">Work Experience</h2>
            <p>{{myexperience}}</p>
            <h2 [ngStyle]="{color: titlesColor}">Skills</h2>
            <p>{{myskills}}</p>
            <h2 [ngStyle]="{color: titlesColor}">Languages</h2>
            <p>{{mylanguages}}</p>
            <h2 [ngStyle]="{color: titlesColor}">Activities</h2>
            <p>{{myactivities}}</p>
        </div>
    </div>
</div>
