<div class="space"></div>
<div class="container">
    <div class="row" >
        <div class="col">
            <app-list-cvs></app-list-cvs>
        </div>
        <div class="col">
            <mat-card *ngIf="!isConnected">
                <mat-card-content >
                    <app-login-user (wantedToSignUp)="onWantedToSignUp($event)" *ngIf="!hide"></app-login-user>
                    <app-add-user (wantedToSignUp)="onWantedToSignUp($event)" *ngIf="hide"></app-add-user>
                </mat-card-content>
            </mat-card>
            <mat-card *ngIf="isConnected">
                <mat-card-content >
                    Tu est déjà connecté(e).
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
