<h1>See the CVs of the users :</h1>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead">
    <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
        <td>{{user.idCv}}</td>
        <td>{{user.firstName}}  {{user.lastName}}</td>
        <td><button type="button" class="btn btn-danger deleteButton" (click)="goToCvView(user.idCv)">See CV</button></td>
    </tr>
    </tbody>
</table>
